@font-face {
	font-family: HelveticaNeueCyrThin;
	src: 'fonts/HelveticaNeueCyr-UltraLight.otf';
}
@font-face {
	font-family: HelveticaNeueCyrMedium;
	src: 'fonts/HelveticaNeueCyr-Medium.otf';
}
@font-face {
	font-family: HelveticaNeueCyrNormal;
	src: 'fonts/HelveticaNeueCyr-Thin.otf';
}

html {
	height: 100%;
	font-family: sans-serif;
}

body {
	margin: 0;
	height: 100%;
}
.container {
	display: flex;
	height: calc(100% - 50px);
	padding-top: 50px;
}
.fixed-top {
	position: fixed;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 50px;
	background-color: #0A164B;
-webkit-box-shadow: 10px 10px 21px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 21px -1px rgba(0,0,0,0.75);
box-shadow: 10px 10px 21px -1px rgba(0,0,0,0.75);
z-index: 100;
}
.fixed-top> div {
	display: flex;
}
.menu {
	position: absolute;
	width: 250px;
	top: 50px;
	min-height: calc(100% - 50px);
	background-color: #394A8C;	
	transition: 0.5s;
	z-index: 99;
}

.menuitem {
	padding: 15px 20px;	
}

.menuitem a {
	display: block;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
	transition: 0.3s;
}

.menuitem:hover {
	background-color: #273E9A;
}

.menuitem:hover a {
	transform: translateX(5px);	
}

.lang, .auth {
	display: flex;
	height: 100%;
	align-items: center;
	padding: 0 10px;
}
.lang a, .auth a {
	text-decoration: none;
	color: #fff;
	padding: 0 5px;
}
.lang:hover, .auth a:hover {
	background-color: #273E9A;
}
.main {
	margin-left: 250px;
	padding: 20px;
	width: calc(100% - 250px);
}
#add, #uploadform {
	position: fixed;
	top: 0;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: calc(100% - 50px);
	top: 50px;
	padding-top: 20px;
	display: none;
	z-index: 5;
}
#fon {
	position: fixed;
	top: 0;
	z-index: 4;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.7;
	display: none;
}
.addform, .uploadform {
	position: relative;
	width: auto;
	padding: 40px 10px 10px 10px;
	background-color: #fff;
	border: 5px solid #eee;
}
input, select {
	font-size: 1em;
	border-radius: 3px;
	padding: 5px;
}
.addform select {	
	width: calc(100% - 10px);
}
.addform option, .addform select {
	max-width: 450px;
}
.addform input[type=text] {
	width: calc(100% - 25px);
}
.inline label {
	display: inline-block;
	width: 180px;
}
.inline input {
	display: inline-block;
	width: 100px;
}
.cancelnew {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 15px;
	cursor: pointer;
}
.links {
	display: flex;
	padding: 0 10px;
}
#new, #upload, #downloadrup, .generate, .download, .save, #newcab, .clear {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #000;	
	background-repeat: no-repeat;
	background-position: center left;
	padding: 10px 30px;
}
#new, #newcab {
	background-image: url('../img/add.png');
}
#upload {
	background-image: url('../img/upload.png');
}
.download {
	background-image: url('../img/download.png');
}
.generate {
	background-image: url('../img/generate.png');
}
.save {
	background-image: url('../img/save.png');
}
.clear {
	background-image: url('../img/trash.png');
}
#generatektp {
	display: none;
}
table {
	border-collapse: collapse;
	border-color: #ddd;	
	margin-bottom: 30px;
}
table:not(.journal):not(#cabinets) {
	min-width: calc(100% - 10px);
}
table.rup {
	font-size: 0.6em;
}
td {
	padding: 5px;
}
td.header-center, th.header-center {
	text-align: center;
}
.rup tr:nth-child(odd) {
	background-color: #eee;
}
.rup tr:nth-child(even) {
	background-color: #fff;
}
tr.itog, tr.partitem {	
	font-weight: bold;
	background-color: #eee;
}
tr.itog {
	font-size: 0.8em;
}
tr.partitem {
	border: none;
}
.hasitog tr:last-child {
	font-weight: bold;
	background-color: #eee;
}
thead th {
	padding: 5px;
	background-color: #97A9F3;
	border-color: #495581;
}
td {
	padding: 5px;
}
.addform > div {
	margin: 10px 5px;
}
input[type=submit], .delete {
	border: none;
	display: flex;
	justify-content: center;
	font-size: 15px;
	padding: 5px 10px;
	margin: 5px;
	background-color: #394A8C;
	font-size: 1em;
	text-decoration: none;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
}
#loginform input[type=submit] {
	background-color: #fff;
	padding: 10px 30px;
	color: #000;
}
.addform input[type=submit], .delete {
	width: calc(100% - 20px);
	padding: 5px 0;
}
.edit img {
	height: 20px;
	cursor: pointer;
}
.delete {
	display: none;
}
*[disabled] {
	opacity: 0.5;
}
.options input, .options select {
	display: block;
	min-width: 200px;
	margin: 5px 0;
}
#menuicon {
	padding: 10px;
	cursor: pointer;
}
#menuicon img {
	height: 30px;
	width: 30px;
}
#menucheck {
	display: none;
}
#menucheck:checked+.menu {
	transform: translateX(-100%);
}
#menucheck:checked ~div>.main {
	width: 100%;
	margin: 0;
}
.success, .error {
	padding: 5px 20px;
	width: 100%;
	display: none;
}
.success {
	background-color: #B0EBCC;
	color: #013419;
}
.error {
	background-color: #ECB7B7;
	color: #400000;
}
p.shapka {
	text-align: center;
	font-weight: bold;
}
p.center {
	text-align: center;
}
.bigarea {
	width: 100%;
	resize: vertical;
	font-family: Arial, sans-serif;
}
.additem_up, .deleteitem_up, th.addpart, .addtopic, .deletepart, .deletetopic, .deletecab {
	cursor: pointer;
	background-color: #fff;
}
.addpart, .addtopic, .deletepart, .deletetopic, .node, .divide {
    cursor: pointer;
	background-color: #eee;
	text-align: right;
	width: 30px;
}
.node {
    text-align: left;
}
td.lpz, td.total {
	width: 100px;
}
.lineform {
	display: flex;
}
a.listitem {
	font-size: 1em;
	color: #000B65;
	font-weight: bold;
}
a.listitem:visited, a.listitem:after, a.listitem:active {
	color: #000B65;
} 
a.listitem:last-child {
	margin-bottom: 30px;
}
.ktptitle {
	font-style: italic;
}
.upper {
	text-transform: uppercase;
}
.wide {
	min-width: 500px;
}
.login {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login form {
	width: 380px;
	background-color: #fff;
	border-radius: 6px 6px 0 0;
	font-weight: 100;
-webkit-box-shadow: 10px 10px 39px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 39px 3px rgba(0,0,0,0.75);
box-shadow: 10px 10px 39px 3px rgba(0,0,0,0.75);
}
.login p.login-header {
	font-family: HelveticaNeueCyrMedium, sans-serif;	
	font-size: 35px;
	text-align: center;
	margin: 0;
	background-color: #9EC5E6;
	padding: 25px;
	border-radius: inherit;
}
.login input {
	display: block;
	width: calc(100% - 100px);
	padding: 10px;
	margin: 20px 40px;
}

.login input[type=submit] {
	padding: 15px;
	width: calc(100% - 80px);
	background-color: #0A164B;
}
p.warning {
	color: red;
	display: block;
	text-align: center;
}
.check_label {
	cursor: pointer;
	display: block;
	user-select: none;
}
.ch_box {
	max-width: 50px;
}
.logout, .a_name {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
}
.logout {
	position: absolute;
	display: none;
	background-color: inherit;
}
.a_name {
	z-index: 2;
}
.a_name:hover + .logout, .logout:hover {
	display: flex;
	top: 50px;
}
.a_name:hover+.logout {	
	background-color: #0A164B;
}
.separator {
	height: 30px;
	margin: 10px;
	width: 2px;
	background-color: #fff;
	opacity: 0.8;
}
.auth img {
	width: 17px;
	margin: 10px;
}
table img {
	width: 20px;
}
#login, #password {
	background-repeat: no-repeat;
	background-position: 5px 5px;	
	text-indent: 30px;
	background-size: 25px 25px; 
}
#login {
	background-image: url('../img/user.svg');
}
#password {
	background-image: url('../img/lock.svg');
}
.section {
	background-color: #fff;
	margin-bottom: 40px;
	position: relative;
-webkit-box-shadow: 10px 10px 21px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 21px -1px rgba(0,0,0,0.75);
box-shadow: 10px 10px 21px -1px rgba(0,0,0,0.75);
}
.section h2 {
	padding: 20px;
}
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	background: linear-gradient(to right, rgba(224, 165, 138, 0.92), rgba(224, 165, 138, 0.41));
	background-color: rgba(224, 165, 138, 0.57);
}
.section img {
	width: 100%;
}
.section_header {
	margin-left: 40px;
	color: rgba(242, 242, 242, 0.96);
	text-shadow: 2px 2px 2px black, 0 0 2em rgba(213, 134, 98, 0.96);
	font-size: 4em; 
	font-family: Arial, sans-serif;
}
.section_container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.section_item {
	margin: 20px;
	padding: 15px;
	width: 200px;
}
.section_item img {
	border-radius: 50%;
	width: 200px;
    height: 200px;
}
.section_title {
	text-align: center;
	font-size: 2.5em;
	padding: 20px 0 0 0;
	color: #fff;
	text-shadow: 1px 1px 2px #0A164B, 1px -1px 2px #0A164B,
				 -1px 1px 2px #0A164B, -1px -1px 2px #0A164B;
}
.section_title:hover {
	color: #394a8c;
}
.section_title::after {
	display: block;
	content: '';
	background-color: #394a8c;
	height: 5px;
	width: 200px;
	margin: 20px auto;
}
.p_s {
	padding: 0 0 30px 30px;
}
ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}
.draggable, .sortable {
	width: 500px;
}
.draggable li, .sortable li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 2px 0;
	padding-left: 10px;
	font-family: 'Gothic', sans-serif;
	font-size: 16px;
	cursor: pointer;
	max-width: 500px;
	min-width: 500px;
}
.draggable li {
	background-color: #D9DFFC;
	padding: 10px 30px 10px 10px;
	position: relative;
}
.sortable {
	background-color: #FCF7D9;
}
.sortable li {
	height: auto !important;
	min-height: 35px !important;
	padding-right: 40px;
	position: relative;
	margin-right: -50px;
}
.full .sortable li {
	max-width: unset;
}
#droppable {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FCD9D9;
}
.lesson_num {
	padding: 0 5px;
	text-align: center;
	vertical-align: middle;
	height: 35px;
}
tr.separator {
	background-color: #D1D3FD;
}
table div.separator {
	background-color: #8D92FA;
	margin: 5px 0;
	width: 100%;
	max-height: 2px;
}
.modal {
	position: fixed;
	top: 50px;
	right: 0;
	width: 200px;
	padding: 20px;
	background-color: #FCDD9E;
	display: none;
	z-index: 1674;
}
li span {
	position: absolute;
	right: 0;
	top: 10px;
	margin: 5px;
}
.journal td {
	width: 40px;
}
.journal td:nth-child(1) {
	width: 200px;
}
.table_resp {
	overflow-x: auto;
}
li i {
	margin: 0 20px;
}
.table_c {
	max-height: 100vh;
	overflow-y: auto;
	margin: 0 20px;
}
.subgroup {
	user-select: none;
}
.sch_c {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#schedule {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
#schedule table {
	min-width: initial;
	margin: 5px;
}
label.param {
	display: block;
	width: 400px;
}
form.settings > div {
	display: flex;
	margin: 10px;
}
form.settings input, form.settings select {
	margin: 0 7px;
}
.rating_section {
	display: flex;
}
.rating_section .arrow {
	width: 50px;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.rating_section .arrow img {
	width: 100%;
}
.rating_section .to_right img {
	transform: rotate(180deg);
}
.rating_wrap {
	overflow-x: hidden;
	transition: 0.5s;
	width: calc(100% - 100px);
	border: 1px solid #333;
	margin: 20px auto;
	display: flex;
	padding: 20px;
}
.rating_item {
	margin: 0 20px;
	display: flex;
	flex-direction: column;
}
.rating_item .gistogram {
	height: 200px;
	width: 50px;	
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.rating_item .gistogram .level {
	background: #535;
	color: #fff;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.rating_item .legend {
	padding: 20px 0;
	width: 180px;
}
table.full td:not(.list_box) {
	width: 50px;
}
table.full .sortable {
	width: 100%;
}
#cabs_list, #teachers_list {
	position: fixed;
	top: 50px;
	right: 0;
	width: 200px;
	padding: 10px;
	background-color: #fff;
	box-shadow: 0 0 4px #666;
	height: calc(100% - 50px);
	z-index: 1001;
	display: none;
	overflow: auto;
}
#cabs_list .cabinet, #teachers_list .teacher {
	cursor: pointer;
}
#cabs_list .cabinet:hover, #teachers_list .teacher:hover {
	text-decoration: underline;
}
.inner_lesson {
	display: flex;
	justify-content: space-between;
}
.cab_num {
	height: 100%;
	width: 70px;
	position: absolute;
	right: -25px; 
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cab_cell {
	width: 70px;
}
.sortable li i.teacher {
	cursor: pointer;
}
td.teacherinput {
	position: relative;
}
.optgroup {
	color: #555;
}
.teacherinput .teachers {
	position: absolute;
	z-index: 8;
    background: #fff;
    width: calc(100% - 32px);
    padding: 10px;
    border: 1px solid #aaa;
    cursor: pointer;
}
#schedule table.day {
	min-width: 500px;
}